body {
  height: 415px;
  width: 300px;
  background-color: #313131;
}

.container {
  text-align: center;
  border-radius: 25px;
  padding: 20px;
  height: 350px;
  width: 275px;
  background-color: #525252;
  /* box-shadow: 5px 10px #414141; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button {
  text-align: center;
  padding: 0px;
  outline: none !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.btn-dark {
  color: #ededed;
  background-color: #313131;
  outline: none;
}

.btn-dark-outline {
  color: #00adb5;
}

h1 {
  padding-top: 2px;
  text-align: center;
  color: white;
}

#selected {
  font-size: medium;
  color: #ededed;
  text-align: center;
  white-space: normal;
  overflow: visible;
}

#contents {
  font-size: medium;
  color: #ededed;
  height: 350px;
  width: 250px;
  position: relative;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  height: 15em;
  white-space: normal;
  overflow: scroll;
  text-overflow: ellipsis;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  overflow-y: scroll;
}

#contents::-webkit-scrollbar {
  display: none;
}

#wiki {
  position: absolute;
  margin-left: -50px;
  left: 50%;
  width: 100px;
  bottom: 20px;
}
